@import url(base/_variables.scss);
* {
  font-family: "Museo Sans Cyrl", sans-serif;
}
.container {
  max-width: 950px;
  margin: 0 auto;
}
@import "blocks/_promo.scss";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/benefits";
@import "blocks/titles";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
