.benefits {
  padding: 57px 0 56px 0;
  min-height: 470px;
  background-color: #f6f6f6;
  &__wrapper {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 242px;
    text-align: center;
  }
  &__itemIcon {
    width: 70px;
    height: 70px;
  }
  &__itemTitle {
    margin-top: 32px;
    font-size: 18px;
    font-weight: bold;
    color: #0d0d0d;
  }
  &__itemText {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    color: #0d0d0d;
  }
  &__link {
    color: red;
    text-decoration: underline;
    &:hover {
      color: red;
    }
  }
}
.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #0d0d0d;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .benefits {
    &__wrapper {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
@media (max-width: 502px) {
  .benefits {
    &__wrapper {
      margin-left: 0px;
      margin-right: 0px;
      flex-direction: column;
      align-items: center;
      margin-top: 45px;
    }
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
    &__itemTitle {
      margin-top: 20px;
    }
    &__itemText {
      margin-top: 15px;
    }
  }
}
@media (max-width: 440px) {
  .benefits {
    &__wrapper {
      margin-top: 35px;
    }
  }
  .title {
    font-size: 25px;
  }
}
