@import "../base/variables";
.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: $main-color;
  border: none;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  &_main {
    width: 300px;
    height: 50px;
    font-size: 16px;
    margin-top: 67px;
  }
  &_submit {
    width: 100%;
    height: 55px;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .button {
    &_main {
      font-size: 14px;
      width: 260px;
      margin-right: 10px;
      margin-top: 60px;
    }
  }
}
@media (max-width: 575px) {
  .button {
    &_headerBtn {
      width: 110px;
      font-size: 10px;
    }
    &_main {
      margin-top: 50px;
      width: 175px;
      font-size: 11px;
    }
  }
}
@media (max-width: 501px) {
  .button {
    &_headerBtn {
      width: 175px;
      font-size: 13px;
      margin-top: 5px;
    }
    &_main {
      margin-top: 40px;
      margin-right: 0;
      width: 190px;
    }
  }
}
