.catalog {
  padding-bottom: 80px;
  &__tabs {
    margin-top: 70px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
  }
  &__tab {
    cursor: pointer;
    width: 220px;
    height: 50px;
    border: solid 2px #d0d0d0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #6b6b6b;
    text-transform: uppercase;
    line-height: 48px;
    margin: 0 5px;
    transform: skew(-25deg);
    transition: 0.5s all;
    &:hover {
      border: none;
      box-shadow: 3px 3px 20px $main-color;
    }
    div {
      transform: skew(25deg);
    }
    &_active {
      color: #ffffff;
      background-color: $main-color;
      border: none;
    }
  }
  &__content {
    margin-top: 60px;
    display: none;
    &_active {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &-item {
    width: 300px;
    min-height: 440px;
    border: solid 2px #e8e8e8;
    padding: 20px 20px 26px 20px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    &__img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: 200px;
      margin: 0 auto;
    }
    &__subtitle {
      margin-top: 20px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color: #0d0d0d;
    }
    &__descr {
      margin-top: 16px;
      font-size: 14px;
      font-weight: 300;
      line-height: normal;
      text-align: center;
      color: #0d0d0d;
    }
    &__link {
      margin-top: 17px;
      display: block;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: $main-color;
      text-decoration: underline;
      text-transform: uppercase;
      &:hover {
        color: $main-color;
      }
    }
    &__back {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(calc(-50% - 19px));
      display: block;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: $main-color;
      text-decoration: underline;
      text-transform: uppercase;
      &:hover {
        color: $main-color;
      }
    }
    hr {
      margin-top: 19px;
      color: #e8e8e8;
      margin-bottom: 21px;
      border-bottom: none;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__old-price {
      text-decoration: line-through;
      font-size: 14px;
      font-weight: 300;
      text-align: left;
      color: #555;
    }
    &__price {
      font-size: 20px;
      font-weight: bold;
      text-align: left;
      color: #050505;
    }
    &__wrapper {
      display: flex;
      width: calc(200% + 40px);
    }
    &__content {
      width: 50%;
      transform: translateX(-100%);
      &_active {
        transform: translateX(0%);
        margin-right: 20px;
      }
    }
    &__list {
      width: 50%;
      margin-left: 20px;
      padding-right: 20px;
      transition: 0.5s all;
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;
      transform: translateX(0%);
      position: relative;
      &_active {
        transform: translateX(-100%);
        margin-left: 0px;
      }
      li {
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        color: #555;
        margin-bottom: 20px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 5px;
          height: 5px;
          background-color: $main-color;
          top: 7px;
          left: -14px;
        }
      }
    }
  }
}
@media (max-width: 917px) {
  .catalog {
    &__content {
      &_active {
        justify-content: center;
      }
    }
    &-item,
    &__tabs {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
@media (max-width: 720px) {
  .catalog {
    &-item,
    &__tabs {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
@media (max-width: 545px) {
  .catalog {
    padding-bottom: 50px;
    &__tabs {
      flex-direction: column;
      margin-top: 40px;
    }
    &__tab {
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 400px) {
  .catalog {
    padding-bottom: 40px;
    &__content {
      margin-top: 40px;
    }
    &-item {
      width: 280px;
    }
    &-item__price {
      font-size: 17px;
    }
  }
}
